.example-card {
    max-width: 400px;
    width: 250px;
  }
  
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    padding-top: 20%;
    size: 200%;
    background-size: cover;
  }
  