.example-card {
  width: 250px;
  height: 400px
}

.card-image {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  padding-top: 15%;
  size: 200%;
  background-size: cover;
  font-size: 250%;
  height: 250%;
  width: 250%;
}
