.video-detail-header{
  padding-top: 15px;
}

.subtitles{
  justify-content: space-between;
}

mat-card[ng-reflect-router-link] {
  cursor: pointer;
}

.suggestion-bar {
  margin-top: 10px;
}

.uploader-and-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-buttons {
  margin-left: 10px;
  margin-right: 100px;
}

.subscribe-button-clicked {
  background-color: gray;
  height: 40px;
}

.view-count {
  padding-right: 5px;
}

.dot {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: black;
  display: inline-block;
}

.video-upload-date{
  padding-left: 5px;
}

.thumbs-down {
  padding-left: 15px;
}

.like-dislike-section {
  padding-right: 10px;
}

@media (max-width: 750px) {
  .video-player-app {
    width: 100%;
  }
  .video-detail{
    margin-top: 40px;
    margin-left: 1px;
  }

}


@media (min-width: 751px) {
  .video-player-app {
    width: 900px;
    height: 500px;
  }
  .video-detail{
    margin-top: 40px;
    margin-left: 100px;
  }

}

.profile-link {
  display: inline-block;
  padding: 6px 12px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.profile-link:hover {
  color: #fff;
  background-color: #808080;
  border-color: #2e6da4;
  transform: scale(1.05);
}
